.card-listing {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 100%
}


.card-listing img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-listing h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-listing {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; // Add this line
}

.card-listing .card-listing-infos {
  padding: 16px;
}
