.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

#new-listing {
  color: white;
  // position: absolute;
  // right:    0;
  // bottom:   0;
}
