.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid red;
}

a {
  text-decoration: none;
  color: white;
}

.listings-container {
  // border: 1px solid green;
  height: 90vh;
  overflow-y: scroll;
  width: 70%;
  margin-right: 1rem;
}

.index-main-container {
  // border: 2px solid yellow;
  display: flex;
}

.filter-container {
  // border: 1px solid red;

  p {
    margin-bottom: 0!important;
  }
}

.green-box {
  // border: 1px solid green;
}


